*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #26352c;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

:root {
  --primary-color: #465e2c;
  --secondary-color: #d8ae43;
  --tertiary-color: #6d765c;
  --background-color: linear-gradient(180deg, #fffaf0 0%, #f7efd9 100%);
  --text-color: #374a23;
  --light-text-color: #fffaf0;
  --secondary-background-color: #ffeea9;
}
